[submodule "docs-resources"]
	path = docs-resources
	url = https://github.com/riscv/docs-resources
[submodule "riscv-tests"]
	path = riscv-tests
	url = https://github.com/riscv-software-src/riscv-tests
